<div class="aboutPageContainer">

  <div class="aboutSiteContainer">
    <h1>Two friends traversing the world for adventure and beautiful ideas</h1>
    <p>Initially conceived as a way to document our time and travels together post coding bootcamp.</p>
    <!-- add more stuff/edit!!! -->
  </div>

  <div class="aboutInfoContainer">
    <%= render 'kathy' %>
    <%= render 'sierra' %>

    <div class="aboutInfoLinks">
      <h2>Contact</h2>
        <a href= "mailto:kathyandsierra@gmail.com">kathyandsierra<span class='emailLink'>@</span>gmail.com</a>
        <br><br>

      <h2>Social Media</h2>
        <a href=""><%= image_tag('/socialmedia/twitter.png', class: 'socialIcon') %></a> <!-- add link -->
        <a href="http://www.instagram.com/buiiix"><%= image_tag('/socialmedia/instagram.png', class: 'instaIcon') %></a>
        <a href="http://www.instagram.com/flatulancebass"><%= image_tag('/socialmedia/instagram.png', class: 'instaIcon') %></a>
        <a href=""><%= image_tag('/socialmedia/vimeo.png', class: 'socialIcon') %></a> <!-- add link -->

    </div>

  </div>

</div>