<% if current_user!= nil && (current_user.username == 'sierramclawhorn' || current_user.username == 'kathybui') %>
  <div class='adminPrivate'>
    <%= link_to 'New Post', new_location_post_path(@location.id) %>
  </div>
<% end %>
  <br><br>


<div class='locationTitle'>
	<% if @location.name == "San Francisco" %>
		<div class='skylineMini'><%= render(:partial => 'sanfrancisco')%></div><br>
	<% elsif @location.name == "Los Angeles" %>
		<div class='skylineMini'><%= render(:partial => 'losangeles')%></div><br>
	<% end %>
	{ <%= @location.name %> }
</div>

<div class='posts'>
<%= render 'posts/index' %>
</div>


<div class="noPosts">
	<% if @location.posts.length == 0 %>
		<br><br>
  		<h1><%= @location.name %><br>
  		Coming Soon...</h1>
	<% end %>
</div>