<% if current_user!= nil && (current_user.username == 'sierramclawhorn' || current_user.username == 'kathybui') %>
  <div class='adminPrivate'>
    <%= link_to 'New Post', new_location_post_path(@location.id) %>
  </div>
<% end %>
  <br><br>



<% if @location.posts.length == 0 %>
  <h1><%= @location.name %><br>
  Coming Soon...</h1>
<% end %>



<div class='posts'>

    <% @posts.each do |post| %>
      <div class='postWrap'>
        <h1 class='titlespacing'><%= post.title %></h1>
      </div>
      <div class='postText' style="display: none">
        <h3><%= post.date %></h3>
        <%= render :partial => 'posts/show' %>
      </div>
      ------------------------------
    <% end %>



</div>
