<!DOCTYPE html>
<html>
  <head>
    <title>Kathy & Sierra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://cloud.tinymce.com/stable/tinymce.min.js?apiKey=your_API_key"></script>
  </head>

  <body>
    <%= render '/helpers/header' %>
<!--     <div id='mobile_portrait'></div> -->

    <%= yield %>
  </body>
</html>
